{{yield}}

<div class='navbar is-fixed-top is-spaced' id="navbar">
  <div class='navbar-start'>
    <a href='#' class='navbar-item is-size-5 has-text-weight-bold'>
      <img src="/assets/svg.svg" alt="">
    </a>
  </div>
  <div class='navbar-center'>

    <a
      href='#introduction'
      class='navbar-item pop w hvr-buzz-out intro_hero {{this.current}}'
      onclick={{action 'change' 'introduction'}}
    >
      Introduction
    </a>

    <a
      href='#about'
      class='navbar-item w pop w hvr-buzz-out about_hero {{this.current}}'
      onclick={{action 'change' 'about'}}
    >
      About
    </a>

    <a
      href='#projects'
      class='navbar-item w pop w hvr-buzz-out project_hero {{this.current}}'
      onclick={{action 'change' 'project'}}
    >
      Projects
    </a>

    <a
      href='#contact'
      class='navbar-item w pop hvr-buzz-out contact_hero {{this.current}}'
      onclick={{action 'change' 'contact'}}
    >
      Contact
    </a>

  </div>

  <div class='navbar-end'>
    <a
      href='https://github.com/DevAthul-88'
      title='github'
      class='navbar-item w hvr-buzz-out has-text-light'
      target="_blank" rel="noopener noreferrer"
    >

      <i class='fab fa-github fa-2x'></i>
      <span class='is-hidden'>Github</span>
    </a>
    <a
      href='https://www.linkedin.com/in/athul-vinod-36378820a/'
      class='navbar-item w hvr-buzz-out has-text-light'
      title='linkedin'
      target='_blank' rel="noopener noreferrer"
    >
      <i class='fab fa-linkedin fa-2x'></i>
      <span class='is-hidden'>Linkedin</span>
    </a>

  </div>
</div>

