{{yield}}

<div class='navbar is-spaced is-fixed-top'>
  <div class='navbar-start'>

    <a
      href='#introduction'
      class='navbar-item pop w hvr-rotate intro_hero {{this.current}}'
      onclick={{action 'change' 'introduction'}}
    >
      Introduction
    </a>

    <a
      href='#about'
      class='navbar-item w pop w hvr-rotate about_hero {{this.current}}'
      onclick={{action 'change' 'about'}}
    >
      About
    </a>

    <a
      href='#projects'
      class='navbar-item w pop w hvr-rotate project_hero {{this.current}}'
      onclick={{action 'change' 'project'}}
    >
      Projects
    </a>

    <a
      href='#contact'
      class='navbar-item w pop hvr-rotate contact_hero {{this.current}}'
      onclick={{action 'change' 'contact'}}
    >
      Contact
    </a>

  </div>

  <div class='navbar-end'>
    <a href='https://github.com/DevAthul-88' class='navbar-item w hvr-rotate'>

      <i class='fab fa-github fa-2x'></i>
      <span class='is-hidden'>Github</span>
    </a>
    <a
      href='https://www.linkedin.com/in/athul-vinod-36378820a/'
      class='navbar-item w hvr-rotate'
    >
      <i class='fab fa-linkedin fa-2x'></i>
      <span class='is-hidden'>LinkeDin</span>
    </a>
  </div>
</div>