{{yield}}

<div class='section is-medium' id='projects'>
  <h1 class='title is-size-1 w pop'>
    Projects
  </h1>

  <h5 class='w pop is-size-5'>Filter projects by tag</h5>
 
    <div class="mt-2">
      <span class="tag is-light is-medium" {{on "click" (fn this.update "all")}}>
      #All
    </span>
      <span class="tag is-light is-medium" {{on "click" (fn this.update "e-commerce")}}>
      #E-commerce
    </span>
     <span class="tag is-light is-medium" {{on "click" (fn this.update "system")}}>
      #Management-System
    </span>
       <span class="tag is-light is-medium" {{on "click" (fn this.update "social-network")}}>
      #Social-network
    </span>
     <span class="tag is-light is-medium" {{on "click" (fn this.update "social-network")}}>
      #Web3
    </span>
     <span class="tag is-light is-medium" {{on "click" (fn this.update "social-network")}}>
      #Clones
    </span>
    <span class="tag is-light is-medium" {{on "click" (fn this.update "social-network")}}>
      #packages
    </span>
    </div>

  <div class='mt-6' >
    {{#each this.returnData as |e|}}
      <div class='columns' >
        <div class='column' id="project-container">
          <h1 class='title is-size-3 w pop he'>{{e.title}}</h1>
          <p class='subtitle is-size-4 mt-2 w pop'>
            {{e.description}}
          </p>
          <LinkTo @route="{{e.route}}" class='button is-rounded has-text-weight-bold hvr-bounce-in'>
          More information
          </LinkTo>
        </div>
        <div class='column'>
          <img src='{{e.thumbnail}}' alt='' />
        </div>
      </div>
    {{/each}}
  </div>

</div>

