{{yield}}

<div class='section mt-6' id='projects'>
  <h1 class='title is-size-3 w pop' data-aos='fade-down-right'>
    Projects
  </h1>

  <div class='mt-6'>
    {{#each this.returnData as |e|}}
      <div class='columns mt-6'>
        <div class='column' id='project-container'>
          <h1
            class='title is-size-3 w pop'
            data-aos='zoom-in-down'
          >{{e.title}}</h1>
          <p class='subtitle  mt-2 w pop' data-aos='zoom-in-down'>
            {{e.description}}
          </p>
          <div class="mb-5">
            {{#each e.tools as |s|}}
               <div class="tag is-medium">{{s}}</div>
            {{/each}}
          </div>
          <div>
             <LinkTo
              @route='projects/{{e.route}}'
              class='button is-light is-rounded has-text-weight-bold hvr-bounce-in'
              aria-label="Learn more about this project."
            >
              <span class='icon'>
                <i class="fa fa-book" aria-hidden="true"></i>
              </span>
              <span>Projects Details</span>
            </LinkTo>
            <a
              href='{{e.live}}'
              class='button is-light is-rounded has-text-weight-bold hvr-bounce-in'
              target="_blank" rel="noopener noreferrer"
            >
              <span class='icon'>
                <i class='fa fa-desktop' aria-hidden='true'></i>
              </span>
              <span>Live Demo</span>
            </a>
            <a
              href='{{e.repo}}'
              class='button is-light is-rounded has-text-weight-bold hvr-bounce-in'
              target="_blank" rel="noopener noreferrer"
            >
              <span class='icon'>
                <i class='fa fa-code' aria-hidden='true'></i>
              </span>
              <span>Repository</span>
            </a>
          </div>
        </div>
        <div class='column is-7' data-aos='flip-left'>
          <img src='{{e.thumbnail}}' alt='thumbnail' class='hvr-grow has-shadows' />
        </div>
      </div>
    {{/each}}
  </div>

</div>