{{page-title '1'}}
{{outlet}}

<div class='section'>
  <div class='b'>
    <LinkTo
      class='button is-light is-rounded is-medium hvr-bounce-in'
      @route='index'
    >
      <span class='icon'>
        <i class='fa fa-arrow-circle-left' aria-hidden='true'></i>
      </span>
      <span>Go Back</span>
    </LinkTo>
  </div>

  <div class='columns mt-5'>
    <div class='column mr-5'>
      <div>
        <h1 class='title has-text-white has-text-weight-bold'>
          Stack OverFlow Clone
        </h1>
        <p class='subtitle has-text-white mt-2'>
          So everyone knows what stack overflow is the world famous Q/A website.
          Every developer has opened atleast one tab of stack overflow.
        </p>

        <p class='subtitle has-text-white'>
          So I decided to create a clone of stack overflow. So i choose react
          for the frontend, node and express for backend and mongoDB for
          database.

        </p>

        <p class='subtitle has-text-white'>
          The purpose of this application is simple. Anyone can create an
          account on this platform. Ask questions about programming and add
          different tags to it. If a question is solid and unique, others users
          can upvote for it, otherwise they can downvote.
        </p>
         <p class='subtitle has-text-white'>
          Full crud operations available. Like editing user profile, Creating , editing , deleting questions and more.
        </p>

        <h1 class='is-size-4 has-text-white has-text-weight-bold'>
          Tools used
        </h1>
        <div class='mb-5'>
          {{#each this.model.tools as |s|}}
            <div class='tag is-medium'>{{s}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class='card p-4 hero_card is-radiusless is-shadowless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy ml-2'>
              Details
            </h1>
          </div>

        </div>

        <div class='card-content'>
          <h1 class='title pop is-size-6 w'>
            Name:
            <span class='ml-2'>Stack Overflow Clone</span>
          </h1>
          <h1 class='title pop is-size-6 w'>
            Type:
            <span class='ml-2'>Full Stack</span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Repository Link:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.repo}}'
                target='_blank'
                rel='noopener noreferrer'
              >Github</a>
            </span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Live Demo:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.live}}'
                target='_blank'
                rel='noopener noreferrer'
              >Live</a>
            </span>
          </h1>

        </div>

      </div>
    </div>
  </div>
  <h1 class='is-size-4 has-text-white has-text-weight-bold'>
    Home Page
  </h1>
  <img src='/images/home_stack.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-white has-text-weight-bold'>
    Tags Page
  </h1>
  <img src='/images/tag_stack.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-white has-text-weight-bold'>
    Questions Page
  </h1>
  <img src='/images/ques_stack.webp' alt='home' class='mt-4' />

</div>

{{footer}}