{{page-title '2'}}
{{outlet}}

<div class='section'>
  <div class='b'>
    <LinkTo
      class='button is-light is-rounded is-medium hvr-bounce-in'
      @route='index'
    >
      <span class='icon'>
        <i class='fa fa-arrow-circle-left' aria-hidden='true'></i>
      </span>
      <span>Go Back</span>
    </LinkTo>
  </div>

  <div class='columns mt-5'>
    <div class='column mr-5'>
      <div>
        <h1 class='title has-text-white has-text-weight-bold'>
          Wispy Projects
        </h1>
        <p class="subtitle has-text-white mt-2">
            WispyProject is a free, open-source bug tracking and project management system. It's perfect for freelancers, agencies, and moonlighters.
        </p>
        <p class='subtitle has-text-white'>
         The main purpose of this project is to simply track bugs and manage projects for free, with simple UI and UX displaying all information neatly. So this is the biggest project i ever made because I need to help others by making free tools that solve their daily problems.
        </p>

        <p class='subtitle has-text-white'>
         The main feature of this project is to track bugs and projects. Create projects edit and delete it add staffs assign them to different projects.
         Create tickets for each project and much more.
        </p>


        <h1 class='is-size-4 has-text-white has-text-weight-bold'>
          Tools used
        </h1>
        <div class='mb-5'>
          {{#each this.model.tools as |s|}}
            <div class='tag is-medium'>{{s}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class='card p-4 hero_card is-radiusless is-shadowless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy ml-2'>
              Details
            </h1>
          </div>

        </div>

        <div class='card-content'>
          <h1 class='title pop is-size-6 w'>
            Name:
            <span class='ml-2'>WispyProject</span>
          </h1>
          <h1 class='title pop is-size-6 w'>
            Type:
            <span class='ml-2'>Full Stack</span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Repository Link:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.repo}}'
                target='_blank'
                rel='noopener noreferrer'
              >Github</a>
            </span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Live Demo:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.live}}'
                target='_blank'
                rel='noopener noreferrer'
              >Live</a>
            </span>
          </h1>

        </div>

      </div>
    </div>
  </div>
  <h1 class='is-size-4 has-text-white has-text-weight-bold'>
    Home Page
  </h1>
  <img src='/images/home_wispy.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-white has-text-weight-bold'>
    Projects Page
  </h1>
  <img src='/images/project_wispy.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-white has-text-weight-bold'>
    Staff Page
  </h1>
  <img src='/images/staff_wispy.webp' alt='home' class='mt-4' />
  <h1 class='is-size-4 mt-4 has-text-white has-text-weight-bold'>
    Project Details Page
  </h1>
  <img src='/images/det_wispy.webp' alt='home' class='mt-4' />
</div>

{{footer}}