{{page-title "3"}}
{{outlet}}

<div class='section'>
  <div class='b'>
    <LinkTo
      class='button is-light is-rounded is-medium hvr-bounce-in'
      @route='index'
    >
      <span class='icon'>
        <i class='fa fa-arrow-circle-left' aria-hidden='true'></i>
      </span>
      <span>Go Back</span>
    </LinkTo>
  </div>

  <div class='columns mt-5'>
    <div class='column mr-5'>
      <div>
        <h1 class='title  has-text-weight-bold'>
          Medic
        </h1>
        <p class='subtitle  mt-2'>
        Medic is an simple pharmacy management system made with PHP and MYSQL.
        Also medic is open source and it is free for everyone.
        </p>

        <p class='subtitle  mt-2'>
         The main aim of this program is to manage things of pharmacy.
         User can add medicine , add employees such as pharmacist , manager
         Casher, and also user can add expenses of the pharmacy.
        </p>

         <p class='subtitle  mt-2'>
          Full crud operations available such as create, edit, delete, employees or medicines , expenses.
          And everything displayed on the datatable witch is makes easy for the users to navigate the information.
        </p>


        
        <h1 class='is-size-4  has-text-weight-bold'>
          Tools used
        </h1>
        <div class='mb-5'>
          {{#each this.model.tools as |s|}}
            <div class='tag is-medium'>{{s}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class='card p-4 hero_card is-radiusless is-shadowless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy ml-2'>
              Details
            </h1>
          </div>

        </div>

        <div class='card-content'>
          <h1 class='title pop is-size-6 w'>
            Name:
            <span class='ml-2'>Medic</span>
          </h1>
          <h1 class='title pop is-size-6 w'>
            Type:
            <span class='ml-2'>Full Stack</span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Repository Link:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.repo}}'
                target='_blank'
                rel='noopener noreferrer'
              >Github</a>
            </span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Live Demo:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.live}}'
                target='_blank'
                rel='noopener noreferrer'
              >Live</a>
            </span>
          </h1>

        </div>

      </div>
    </div>
  </div>
  <h1 class='is-size-4  has-text-weight-bold'>
    Home Page
  </h1>
  <img src='/images/d_medic.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4  has-text-weight-bold'>
    Medicines Page
  </h1>
  <img src='/images/home_medic.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4  has-text-weight-bold'>
    Add Sales Page
  </h1>
  <img src='/images/sales_medic.webp' alt='home' class='mt-4' />

</div>

{{footer}}