{{page-title 'Change-org'}}
{{outlet}}

<div class='section'>
  <div class='b'>
    <LinkTo
      class='button is-light is-rounded is-medium hvr-bounce-in'
      @route='index'
    >
      <span class='icon'>
        <i class='fa fa-arrow-circle-left' aria-hidden='true'></i>
      </span>
      <span>Go Back</span>
    </LinkTo>
  </div>

  <div class='columns mt-5'>
    <div class='column mr-5'>
      <div>
        <h1 class='title has-text-weight-bold'>
          Change.org
        </h1>
        <p class='subtitle mt-2'>
          Change.org is a global petitioning website. So I made a copy of
          change.org.
        </p>

        <p class='subtitle mt-2'>
          The main goal of this programme is to help you create petitions about
          whatever you want to change.
        </p>

        <p class='subtitle mt-2'>
          Well a user can create an account, create petitions, sign them, and
          comment on which ones he wants to support. The petition that the user
          created can be edited and deleted.
        </p>

        <h1 class='is-size-4 has-text-weight-bold'>
          Tools used
        </h1>
        <div class='mb-5'>
          {{#each this.model.tools as |s|}}
            <div class='tag is-medium'>{{s}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class='card p-4 hero_card is-radiusless is-shadowless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy ml-2'>
              Details
            </h1>
          </div>

        </div>

        <div class='card-content'>
          <h1 class='title pop is-size-6 w'>
            Name:
            <span class='ml-2'>Change</span>
          </h1>
          <h1 class='title pop is-size-6 w'>
            Type:
            <span class='ml-2'>Full Stack</span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Repository Link:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.repo}}'
                target='_blank'
                rel='noopener noreferrer'
              >Github</a>
            </span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Live Demo:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.live}}'
                target='_blank'
                rel='noopener noreferrer'
              >Live</a>
            </span>
          </h1>

        </div>

      </div>

       <div class='card p-4 hero_card is-radiusless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy ml-2'>
              Demo login credentials
            </h1>
          </div>

        </div>

        <div class='card-content'>

          <h1 class='title pop is-size-6 w'>
            Email:
            <span class='ml-2'>demo@gmail.com</span>
          </h1>
          <h1 class='title pop is-size-6 w'>
            Password:
            <span class='ml-2'>123456</span>
          </h1>
        </div>

      </div>

    </div>
  </div>
  <h1 class='is-size-4 has-text-weight-bold'>
    Home Page
  </h1>
  <img src='/images/home_change.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-weight-bold'>
    Start Petition Page
  </h1>
  <img src='/images/start_change.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-weight-bold'>
    Petition Details Page
  </h1>
  <img src='/images/pet_change.webp' alt='home' class='mt-4' />

</div>

{{footer}}