{{page-title 'InCode'}}
{{outlet}}

<div class='section'>
  <div class='b'>
    <LinkTo
      class='button is-light is-rounded is-medium hvr-bounce-in'
      @route='index'
    >
      <span class='icon'>
        <i class='fa fa-arrow-circle-left' aria-hidden='true'></i>
      </span>
      <span>Go Back</span>
    </LinkTo>
  </div>

  <div class='columns mt-5'>
    <div class='column mr-5'>
      <div>
        <h1 class='title has-text-weight-bold'>
          InCode
        </h1>
        <p class='subtitle mt-2'>
          InCode is a browser-based code editor designed for developers and
          those who dislike coding in text editors.
        </p>

        <p class='subtitle mt-2'>
          InCode is more than just a code editor; it also has user
          authentication and a backend built by supabase.
        </p>

        <p class='subtitle mt-2'>
          The main purpose of this application is to allow users to create and
          edit HTML, CSS, and Java script in the browser and save it for later
          use anywhere, at any time.
        </p>
        <p class='subtitle mt-2'>
          This application's features include the ability to write code, run it
          in your browser, and download the code. You can see a preview of your
          code on various devices. You can also add CSS libraries and Javascript
          libraries to your code. So, with its simple UI and UX, this open
          source application makes your job easier.
        </p>

        <h1 class='is-size-4 has-text-weight-bold'>
          Tools used
        </h1>
        <div class='mb-5'>
          {{#each this.model.tools as |s|}}
            <div class='tag is-medium'>{{s}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class='column is-4'>
      <div class='card p-4 hero_card is-radiusless is-shadowless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy ml-2'>
              Details
            </h1>
          </div>

        </div>

        <div class='card-content'>
          <h1 class='title pop is-size-6 w'>
            Name:
            <span class='ml-2'>InCode</span>
          </h1>
          <h1 class='title pop is-size-6 w'>
            Type:
            <span class='ml-2'>Full Stack</span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Repository Link:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.repo}}'
                target='_blank'
                rel='noopener noreferrer'
              >Github</a>
            </span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Live Demo:
            <span class='ml-2 wavy'>
              <a
                href='{{this.model.live}}'
                target='_blank'
                rel='noopener noreferrer'
              >Live</a>
            </span>
          </h1>

        </div>

      </div>

      <div class='card p-4 hero_card is-radiusless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy ml-2'>
              Demo login credentials
            </h1>
          </div>

        </div>

        <div class='card-content'>

          <h1 class='title pop is-size-6 w'>
            Email:
            <span class='ml-2'>demo@gmail.com</span>
          </h1>
          <h1 class='title pop is-size-6 w'>
            Password:
            <span class='ml-2'>123456</span>
          </h1>
        </div>

      </div>

    </div>
  </div>
  <h1 class='is-size-4 has-text-weight-bold'>
    Home Page
  </h1>
  <img src='/images/home_code.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-weight-bold'>
    Start Petition Page
  </h1>
  <img src='/images/dash_code.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-weight-bold'>
    Petition Details Page
  </h1>
  <img src='/images/editor_code.webp' alt='home' class='mt-4' />

  <h1 class='is-size-4 mt-4 has-text-weight-bold'>
    Device Preview
  </h1>
  <img src='/images/device_code.webp' alt='home' class='mt-4' />
</div>

{{footer}}